/* ***  Image Panel Content Type   *** */
.panelWrapper .panelText.card-text {
    padding: 2rem;
}

.panelWrapper .panelText.card-text h2 {
    font-size: 2.6rem; 
}

.panelInner .panelText.card-text .panelLinks {
    display: block;
    padding: 1rem 0 0 0;
}

.panelInner .panelText.card-text .panelLinks li {
    margin: 0.25rem 0 0.5rem 0;
}

.panelText.card-text p {
    font-size: 1.4rem;
    line-height: 1.5;
}


/* ***  XX Large max Defaults   *** */
@media only screen and (max-width : 1399.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text h2 {
        font-size: 2rem; 
    }
    
    .panelText.card-text p {
        font-size: 1.2rem;
    }

    .panelInner .panelText.card-text .panelLinks a {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}


/* ***  X Large max Defaults   *** */
@media only screen and (max-width : 1199.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text h2 {
        font-size: 1.8rem; 
    }
    
    .panelText.card-text p {
        font-size: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks a {
        font-size: 1.3rem;
        line-height: 1;
        padding-top: 1rem;
    }
}


/* ***  Large max Defaults   *** */
@media only screen and (max-width : 991.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .card-img-overlay {
        position: unset;
    }

    .panelWrapper .panelText.card-text h2 {
        font-size: 2rem; 
    }

    .card-img-overlay .standardContent {
        padding: 0;
    }
    
    .panelText.card-text p {
        font-size: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks {
        display: flex;
    }

    .panelInner .panelText.card-text .panelLinks {
        padding: 1rem 0 1rem 0;
    }
}


/* ***  Small max Defaults   *** */
@media only screen and (max-width : 767.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text {
        padding: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks {
        display: block;
    }

    .panelInner .panelText.card-text .panelLinks li {
        border: 1px solid #088099;
    }
}

/* ***  X Small max Defaults   *** */
@media only screen and (max-width : 575.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text {
        padding: 0;
    } 
}


/* ***  X Large min Defaults   *** */
@media only screen and (min-width : 1200px) {}


/* ***  Large min Defaults   *** */
@media only screen and (min-width : 992px) {}


/* ***  Medium min Defaults   *** */
@media only screen and (min-width : 768px) {}




/* image panel stylesheet */

