/* ***  Image Panel Content Type   *** */
.panelWrapper .panelText.card-text {
    padding: 2rem;
}

.panelWrapper .panelText.card-text h2 {
    font-size: 2.6rem; 
}

.panelInner .panelText.card-text .panelLinks {
    display: block;
    padding: 1rem 0 0 0;
}

.panelInner .panelText.card-text .panelLinks li {
    margin: 0.25rem 0 0.5rem 0;
}

.panelText.card-text p {
    font-size: 1.4rem;
    line-height: 1.5;
}


/* ***  XX Large max Defaults   *** */
@media only screen and (max-width : 1399.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text h2 {
        font-size: 2rem; 
    }
    
    .panelText.card-text p {
        font-size: 1.2rem;
    }

    .panelInner .panelText.card-text .panelLinks a {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}


/* ***  X Large max Defaults   *** */
@media only screen and (max-width : 1199.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text h2 {
        font-size: 1.8rem; 
    }
    
    .panelText.card-text p {
        font-size: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks a {
        font-size: 1.3rem;
        line-height: 1;
        padding-top: 1rem;
    }
}


/* ***  Large max Defaults   *** */
@media only screen and (max-width : 991.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .card-img-overlay {
        position: unset;
    }

    .panelWrapper .panelText.card-text h2 {
        font-size: 2rem; 
    }

    .card-img-overlay .standardContent {
        padding: 0;
    }
    
    .panelText.card-text p {
        font-size: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks {
        display: flex;
    }

    .panelInner .panelText.card-text .panelLinks {
        padding: 1rem 0 1rem 0;
    }
}


/* ***  Small max Defaults   *** */
@media only screen and (max-width : 767.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text {
        padding: 1rem;
    }

    .panelInner .panelText.card-text .panelLinks {
        display: block;
    }

    .panelInner .panelText.card-text .panelLinks li {
        border: 1px solid #088099;
    }
}

/* ***  X Small max Defaults   *** */
@media only screen and (max-width : 575.99px) {

    /* ***  Image Panel Content Type   *** */
    .panelWrapper .panelText.card-text {
        padding: 0;
    } 
}


/* ***  X Large min Defaults   *** */
@media only screen and (min-width : 1200px) {}


/* ***  Large min Defaults   *** */
@media only screen and (min-width : 992px) {}


/* ***  Medium min Defaults   *** */
@media only screen and (min-width : 768px) {}




/* image panel stylesheet */

.panelWrapper {
    padding-top: 30px;
    position:relative;
  }
  .panelWrapper .panelFlexContainer{
      display:flex;
      float:right;
      margin-bottom: 30px;
      width:100%; 
  }
  
  .panelWrapper h2{
      color: #aa0000;
      font-family: 'Montserrat', sans-serif;
      font-size: 35px;
      font-weight: 500;
      margin: 0 0 30px 0;
      /*text-align: center;*/
  }
  
  @media (min-width:766px) and (max-width:768px) {/*1px gap fix*/
    .panelWrapper .clearfix{
      display:block!important; 
    }
  }
  /*only way to get mobile to not take up space set in html tag*/
  @media (max-width: 991.999px) {
      .panelWrapper .panelFlexContainer{
          height:auto !important;
      }
  }
  .panelWrapper .panelOverlay {
      background-color: #04a9c5;
      background-size: cover;      
      width: 100%;
  }
  @media (max-width: 991px) {
  .panelWrapper .panelOverlay {
      height: 300px !important;
    }
  }
  .panelWrapper .panelText {
      background: #ffffff;
      padding: 70px 60px;
  }
  @media (max-width: 991px) {
    .panelWrapper .panelText {
      background: #ffffff;
      padding: 20px 0 20px 15px;
      width: 100%;
    }
  }
  .panelWrapper .panelRedDiv,
  .panelWrapper .panelOrangeDiv,
  .panelWrapper .panelGoldDiv,
  .panelWrapper .panelLightGreenDiv,
  .panelWrapper .panelDarkGreenDiv,
  .panelWrapper .panelDarkBlueDiv,
  .panelWrapper .panelLightBlueDiv,
  .panelWrapper .panelGreenDiv,
  .panelWrapper .panelBrownDiv,
  .panelWrapper .panelWhiteDiv,
  .panelWrapper .panelBlackDiv,
  .panelWrapper .panelInner{
    border-bottom:0;
    border-image: 0;
    border-image-slice: 0;  
    border-left:0;
    border-right:0;
  }
  
  .panelWrapper .panelRedDiv{ border-top:10px solid #aa0000;}
  .panelWrapper .panelOrangeDiv{ border-top:10px solid #ef4135;}
  .panelWrapper .panelGoldDiv{ border-top:0px solid #fdb913;}
  .panelWrapper .panelLightGreenDiv{ border-top:10px solid #55b31b;}
  .panelWrapper .panelDarkGreenDiv{ border-top:10px solid #124a12;}
  .panelWrapper .panelDarkBlueDiv{ border-top:10px solid #003282;}
  .panelWrapper .panelLightBlueDiv{ border-top:10px solid #04a9c5;}
  .panelWrapper .panelGreenDiv{ border-top:10px solid #008765;}
  .panelWrapper .panelBrownDiv{ border-top:10px solid #807060;}
  .panelWrapper .panelWhiteDiv{ border-top:10px solid #f7f7f7;}
  .panelWrapper .panelBlackDiv{ border-top:10px solid #333333;}
  
  .panelInner{
    border-bottom:0;
    border-image: 0;
    border-image-slice: 0;
    border-left:0;
    border-right:0;
    /* border-top:10px solid #f7f7f7; */
    margin:0;
    padding:0;
  }
  .flexboxtweener .panelWrapper .panelInner{ /* hack to hide banner in IE/Edge */
    border:0;
  }
  
  @media (min-width: 991px) {
    .panelWrapper .topRightPanel, 
    .panelWrapper .centerRightPanel,
    .panelWrapper .bottomRightPanel{
      justify-content: flex-end;
    }
    .panelWrapper .topLeftPanel,
    .panelWrapper .centerLeftPanel,
    .panelWrapper .bottomLeftPanel{
      justify-content:flex-start;
    }
    .panelWrapper .topCenterPanel,
    .panelWrapper .centerCenterPanel,
    .panelWrapper .bottomCenterPanel{
      justify-content: center;
    }
    .panelFlexContainer .topRightPanel,
    .panelFlexContainer .centerRightPanel,
    .panelFlexContainer .bottomRightPanel{
      margin-right:4.1666666%;
    }
    .panelFlexContainer .topRightPanel,
    .panelFlexContainer .topLeftPanel,
    .panelFlexContainer .topCenterPanel{
      margin-top:4.1666666%;
    }
    .panelFlexContainer .bottomRightPanel,
    .panelFlexContainer .bottomLeftPanel,
    .panelFlexContainer .bottomCenterPanel{
      align-self:flex-end;
    }
    .panelFlexContainer .centerRightPanel,
    .panelFlexContainer .centerLeftPanel,
    .panelFlexContainer .centerCenterPanel{
      align-self:center;
    }
    .panelFlexContainer .topRightPanel,
    .panelFlexContainer .topCenterPanel,
    .panelFlexContainer .topLeftPanel{
      margin-bottom:auto;
    }
    .panelFlexContainer .topLeftPanel,
    .panelFlexContainer .centerLeftPanel,
    .panelFlexContainer .bottomLeftPanel{
      margin-left:4.1666666%;
    }
    .panelFlexContainer .bottomRightPanel,
    .panelFlexContainer .bottomCenterPanel,
    .panelFlexContainer .bottomLeftPanel{
      margin-bottom:4.1666666%;
    }
    .panelWrapper .panelRedDiv{
      border: 10px solid #aa0000;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #aa0000 25.01%, #aa0000 100%);
      border-image-slice: 1;
    }
    .panelWrapper .panelOrangeDiv{
      border: 10px solid #ef4135;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #ef4135 25.01%, #ef4135 100%);
      border-image-slice: 1;
    }
    /* .panelWrapper .panelGoldDiv{
      border: 10px solid #fdb913;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #fdb913 25.01%, #fdb913 100%);
      border-image-slice: 1;
    } */
    .panelWrapper .panelLightGreenDiv{
      border: 10px solid #55b31b;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #55b31b 25.01%, #55b31b 100%);
      border-image-slice: 1;
    }
    .panelWrapper .panelDarkGreenDiv{
      border: 10px solid #124a12;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #124a12 25.01%, #124a12 100%);
      border-image-slice: 1;
    }
    .panelWrapper .panelDarkBlueDiv{
      border: 10px solid #003282;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #003282 25.01%, #003282 100%);
      border-image-slice: 1;
    }
    .panelWrapper .panelLightBlueDiv{
      border: 10px solid #04a9c5;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #04a9c5 25.01%, #04a9c5 100%);
      border-image-slice: 1;
    }
    .panelWrapper .panelGreenDiv{
      border: 10px solid #008765;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #008765 25.01%, #008765 100%);
      border-image-slice: 1;
      border-bottom: 0;
    }
    .panelWrapper .panelBrownDiv{
      border: 10px solid #807060;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #807060 25.01%, #807060 100%);
      border-image-slice: 1;    
    }
    .panelWrapper .panelBlackDiv{
      border: 10px solid #333333;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #333333 25.01%, #333333 100%);
      border-image-slice: 1;    
    }
    .panelWrapper .panelWhiteDiv{
      border: 10px solid #f7f7f7;
      border-bottom: 0;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, #f7f7f7 25.01%, #f7f7f7 100%);
      border-image-slice: 1;    
    }
    .panelWrapper .topRightPanel,
    .panelWrapper .bottomRightPanel,
    .panelWrapper .topCenterPanel,
    .panelWrapper .bottomCenterPanel
    .panelWrapper .centerCenterPanel
    .panelWrapper .centerRightPanel{
      float:right;
    }
    .panelWrapper .topLeftPanel,
    .panelWrapper .bottomLeftPanel
    .panelWrapper .centerLeftPanel{
      float:left;
    }
  }
  @media screen and (max-width: 767.999px) { /* xs */
    .panelText h2 {
     margin: 15px 0 15px 0;
   }
  }
  .panelText p {
    font-size: 1.8rem;
    line-height: 200%;
    margin: 0;  
  }
  
  .panelInner .panelLinks{
    padding: 30px 0 0 0;
    text-align:center;
    width:100%;
    display:flex;
    margin:auto auto;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  
  .panelInner .panelLinks a{
    color:#aa0000;
    display:block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight:500;
    line-height:1.6rem;
    padding:15px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .panelInner .panelLinks li{
    border: 2px solid #088099;
    display: flex;
    flex: 0 1 calc(50% - 7px);
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (max-width: 767.999px) { /* xs */
    .panelInner .panelLinks{
      padding: 15px 20px 0px 10px;
    }
    .panelInner .panelLinks li{
      border: none;
      display: block;
      flex: none;
      flex-direction: column;
      justify-content: center;
      margin: 7px 0 0 0;
      width: 100%;
    }
    .panelInner .panelLinks li a{  
      border: 1px solid #088099;
      color: #aa0000;
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      height: 100%;
      line-height: 1.6rem;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s ease;
    }
  
  }
  .panelInner .panelLinks li:hover a, .panelInner .panelLinks li:focus a,
  .panelInner .panelLinks li a:hover, .panelInner .panelLinks li a:focus{
    background: #088099;
    /* border: 1px solid #088099;*/
    color: #ffffff;
    /*text-decoration: underline;*/
  }
  
  .panelInner .panelLinks li:before{
    content: '';
    padding-right:0px;
  }